h1 {
    color:#ACC4E0;
    text-align: center;
}
h3 {
    color:#ACC4E0;
    text-align: right;
}

.sketch{
    background-color: #D3B88C;
    text-align: center;
}

.sketch>a{
    color:#FFFFFF;
}

.prod{
    background-color: #ACC4E0;
    text-align: center;
}

.prod>a{
    color:#F4C8CB;
}

.fine{
    background-color: #F4C8CB;
    text-align: center;
}

.fine>a{
    color:#D3B88C;
}

.header{
    margin-top: 30px;
    margin-bottom: 30px
}

.gallery{
    margin-bottom: 20px;
}

.body{
    padding-bottom: 650px;
}
