h1 {
    color:#ACC4E0;
    text-align: center;
}
h3> {
    color:#ACC4E0;
    text-align: right;
}

.sketch{
    background-color: #D3B88C;
    text-align: center;
}

.sketch>a{
    color:#FFFFFF;
}

.sketch:hover{
    transform:scale(3.5);
    position:absolute;
    z-index: 2;
    height: 263px;
    width: 170px;
    margin-top: 200px;
    margin-bottom: 0px;
    margin-left: 178px;
    padding-top: 100px;
}

.prod{
    background-color: #ACC4E0;
    text-align: center;
}

.prod>a{
    color:#F4C8CB;
}

.prod:hover{
    transform:scale(3.5);
    position:absolute;
    z-index: 2;
    height: 263px;
    width: 170px;
    margin-top: 200px;
    margin-bottom: 0px;
    margin-left: 180px;
    padding-top: 100px;
}

.fine{
    background-color: #F4C8CB;
    text-align: center;
}

.fine>a{
    color:#D3B88C;
}

.fine:hover{
    transform:scale(3.5);
    position:absolute;
    z-index: 2;
    height: 263px;
    width: 170px;
    margin-top: 200px;
    margin-bottom: 0px;
    margin-left: 182px;
    padding-top: 100px;
}

.header{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 250px;
}

.gallery{
    margin-bottom: 20px;
}

.body{
    padding-bottom: 650px;
}
